<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <title><%= full_title(yield(:title)) %></title>
  <body>
<div class="center hero-unit">
  <h1>Welcome to the RecommendMe</h1>

  <h2>
    Пожалуйста зарегистрируйтесь, и оцените несколько песен.
  </h2>

  <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-primary" %>
</div>


  </body>
</html>