<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Вы допустили <%= pluralize(@user.errors.count, "ошибку") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>