<% provide(:title, 'popularnaya muzika') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= 'popularno u polzovatelei' %>          
      </h1>
      <form>
        <%= Music.top %>

      </form>
    </section>
  </aside>
</div>