<% provide(:title, 'Популярная музыка') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= 'Популярно у пользователей' %>          
      </h1>
      <form>
        <%= Music.top(count: 5).each {|s| s.songname} %>
        <%= User.first.recommended_music.map {|m| m.songname} %>
      </form>
    </section>
  </aside>
</div>